
  <h2 class="text-center text-white rounded bg-danger p-3">
    <i class="fa fa-exclamation-triangle"></i>
    <span class="font-weight-bold"> 404</span> Not Found
  </h2>

  <p class="mt-4">Lo sentimos, pero la URL de la solicitud no se encontró.</p>

  <p>
    Por favor verifique la URL e inténtelo de nuevo o vuelva a la página de
    <a href="/">inicio</a>.
  </p>

  <h3>Otras opciones:</h3>

  <ul>
    <li>
      Ponerse en contacto con soporte por email <span class="font-weight-bold">example.support@gmail.com</span>
    </li>
    <li>
      Ponerse en contacto con soporte a través de nuestra línea telefónica
      <span class="font-weight-bold">
        902 555 555
      </span>
    </li>
  </ul>

  <p class="font-weight-bold">
    Posibles motivos por los que la página solicitada no se encuentre disponible:
  </p>

  <ul>
    <li>Puede que haya cambiado la URL o no existir</li>
    <li>Es posible que no haya escrito correctamente la URL</li>
  </ul>

