<h2 class="p-3 bg-primary text-white border rounded">Búsquedas</h2>
<hr>
<ul class="list-group">
  <li 
    routerLink="" 
    routerLinkActive="active" 
    [routerLinkActiveOptions]="{ exact: true }" 
    class="list-group-item"
  >
    Buscar por país
  </li>
  <li 
    routerLink="capital" 
    routerLinkActive="active" 
    class="list-group-item"
  >
    Buscar por capital
  </li>
  <li 
    routerLink="continent" 
    routerLinkActive="active" 
    class="list-group-item"
  >
    Buscar por continente
  </li>
</ul>
